.wrap {
  margin: 0;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 75px;
  padding-right: 75px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr;
  gap: 25px;
  grid-template-areas: "left-box middle-box right-box";
}

.middle-box {
  grid-area: middle-box;
  border: solid 2px #346dbb;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 500px;
}

.left-box {
  grid-area: left-box;
  border: solid 2px #346dbb;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.right-box {
  grid-area: right-box;
  border: solid 2px #346dbb;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.middle-box p {
  padding: 25px;
}

.left-box p {
  padding: 25px;
}

.right-box p {
  padding: 25px;
}

.box-header {
  height: 60px;
  background-color: #346dbb;
  width: 100%;
  color: white;
  font-size: 25px;
  padding: 15px;
  font-weight: 200;
  font-family: "Roboto Light", sans-serif;
}

@media screen and (max-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: 0.5fr;
        gap: 25px;
        grid-template-areas: "left-box" "middle-box" "right-box";
      }

      .middle-box {
        height: auto !important;
      }

      .wrap {
        margin: 0;
        width: 100%;
        padding-top: 50px !important;
        padding-bottom: 100px;
        padding-left: 50px;
        padding-right: 50px;
      }
  }

  @media screen and (max-width: 450px) {
      .wrap {
        margin: 0;
        width: 100%;
        padding-top: 50px !important;
        padding-bottom: 100px;
        padding-left: 25px;
        padding-right: 25px;
      }
  }