.contact-page-bottom {
  background-color: #346dbb;
  width: 100%;
  height: 350px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.contact-form-box {
  background-color: white;
  height: 650px;
  width: 550px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 1;
  padding: 75px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "contact-page-left contact-page-right";
  padding-top: 50px;
}

.contact-page-left {
  grid-area: contact-page-left;
  /* border: 1px solid black; */
  height: 500px;
}

.contact-page-right {
  grid-area: contact-page-right;
  /* border: 1px solid black; */
}

.contact-input {
  background-color: white;
  border: 2px solid #346dbb;
  border-radius: 5px;
  height: 45px;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  margin-top: 25px;
  font-family: "Roboto Light", sans-serif;
  font-weight: 300;
}

.contact-textarea {
  background-color: white;
  border: 2px solid #346dbb;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-family: "Roboto Light", sans-serif;
  font-weight: 300;
}

.contact-btn {
  height: 50px;
  width: 300px;
  border: none;
  background-color: #346dbb;
  color: white;
  font-family: "Roboto Light", sans-serif;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 300;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.contact-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-duration: 0.3s;
  font-size: 21px;
}

.contact-btn-box {
  text-align: center;
  padding: 50px;
}

.contact-info {
  width: 600px;
  float: right;
  padding: 50px;
}

.contact-icon {
  color: #346dbb;
  font-size: 50px;
  display: inline-block;
  transition-duration: 0.3s;
}

.contact-icon:hover {
  transition-duration: 0.3s;
  transform: scale(1.2);
}

.icon-text {
  display: inline-block;
  color: #7a7979;
  font-family: "Roboto Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-left: 15px;
}

.icon-box {
  color: #7a7979;
}

.logo-footer {
  width: 120px;
  margin: auto;
  display: block;
}

.logo-footer-circle {
  background-color: white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.footer-left-text {
  width: 65%;
  padding-left: 25px;
  padding-top: 10px;
  font-size: 15px;
  float: left;
  color: white;
  font-weight: 300;
}

.bottom-info-box {
  width: 650px;
  padding-left: 150px;
  padding-top: 50px;
}

.title-contact {
  font-size: 30px;
  color: #7a7979;
  font-weight: 200;
}

.contact-text {
  color: #7a7979;
  font-weight: 300;
  padding-bottom: 35px;
}

.contact-text-2 {
  color: #7a7979;
  font-weight: 300;
  margin-top: 25px;
}

.bottom-menu {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.bottom-menu ul {
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  background-color: #346dbb;
  display: table;
  text-align: center;
  width: 100% !important;
  padding-left: 150px;
  padding-right: 150px;
}

.bottom-menu li {
  float: none;
  display: inline-block;
  width: 20% !important;
  text-align: center !important;
}

.bottom-menu li a {
  display: inline-block;
  color: white;
  text-align: center !important;
  padding: 16px;
  text-decoration: none;
  font-family: "Roboto Light", sans-serif;
  font-weight: 300;
  width: 100% !important;
}

.bottom-menu li a:hover {
  text-decoration: underline;
}

.copy-bottom {
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Roboto Light", sans-serif;
  font-weight: 300;
  height: 25px;
  font-size: 14px;
  background-color: #346dbb;
}

@media screen and (max-width: 1300px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr;
    gap: 0px 0px;
    grid-template-areas: "contact-page-left" "contact-page-right";
    padding-top: 10px;
    padding-bottom: 50px;
    justify-content: center;
  }
  
  .contact-page-left {
    grid-area: contact-page-left;
    /* border: 1px solid black; */
    height: auto;
  }
  
  .contact-page-right {
    grid-area: contact-page-right;
    /* border: 1px solid black; */
  }

  .contact-page-bottom {
    background-color: #346dbb;
    width: 100%;
    height: 350px;
    position: relative;
    z-index: 1;
    display: block;
  }

  .bottom-info-box {
    width: 650px;
    padding-left: 25px;
    padding-top: 50px;
    display: table;
    margin: 0 auto;
  }

  .bottom-menu {
    width: 100%;
    position: relative;
  }
  
  .bottom-menu ul {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    background-color: #346dbb;
    display: table;
    text-align: center;
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  
  .bottom-menu li {
    float: none;
    display: table;
    width: 20% !important;
    text-align: center !important;
    margin: 0 auto;
  }
  
  .bottom-menu li a {
    display: block;
    color: white;
    text-align: center !important;
    padding: 16px;
    text-decoration: none;
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
    width: 100% !important;
  }

  .copy-bottom {
    width: 100%;
    color: white;
    text-align: center;
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
    height: 25px;
    font-size: 14px;
    background-color: #346dbb;
  }

  .contact-form-box {
    background-color: white;
    height: 650px;
    width: auto;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1;
    padding: 75px;
    display: table;
    margin: 0 auto;
  }
}

@media screen and (max-width: 650px) {
  .bottom-info-box {
    width: auto;
    padding-left: 25px;
    padding-top: 50px;
    display: table;
    margin: 0 auto;
  }

  .contact-form-box {
    background-color: white;
    height: 525px;
    width: 450px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1;
    padding: 25px;
    display: table;
    margin: 0 auto;
  }

  .contact-input {
    background-color: white;
    border: 2px solid #346dbb;
    border-radius: 5px;
    height: 45px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    margin-top: 25px;
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
  }
  
  .contact-textarea {
    background-color: white;
    border: 2px solid #346dbb;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
  }
  
  .contact-btn {
    height: 50px;
    width: 300px;
    border: none;
    background-color: #346dbb;
    color: white;
    font-family: "Roboto Light", sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 300;
    border-radius: 5px;
    transition-duration: 0.3s;
  }

  .contact-info {
    width: 450px;
    float: none;
    padding: 50px;
    display: table;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .contact-info {
    width: 350px;
    float: none;
    padding: 50px;
    display: table;
    margin: 0 auto;
  }

  .contact-form-box {
    background-color: white;
    height: 525px;
    width: 300px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1;
    padding: 25px;
    display: block;
    margin: 0 auto;
  }

  .contact-btn {
    height: 45px;
    width: 150px;
    border: none;
    background-color: #346dbb;
    color: white;
    font-family: "Roboto Light", sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 300;
    border-radius: 5px;
    transition-duration: 0.3s;
  }

  .bottom-info-box {
    width: auto;
    height: 250px !important;
    padding-left: 25px;
    padding-top: 50px;
    display: table;
    margin: 0 auto;
  }

  .logo-footer-circle {
    background-color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: none;
    margin: 0 auto;
  }
  
  .footer-left-text {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 15px;
    float: left;
    color: white;
    font-weight: 300;
  }
}