.sidebar {
    border: 2px solid #346DBB;
    float: left;
    font-size: 20px;
}

.sidebar__item {
    border-bottom: 1px solid #346DBB;
    

}

.sidebar__item a {
    padding: 10px;
    color: #000;
    display: block;
}

.sidebar__item a:hover, .sidebar__item.active a {
    color: #fff;
    background:#346DBB;

}

.wrapper {
   display: flex;
}

section {
    padding: 20px 0;
}


ul {
    list-style: none;
    padding-left: 0;
}


.container {
    max-width: 1125px;
    margin: 0 auto;
    padding: 0 2rem;

}




aside {
    flex: 1 1 15%;
}
main {
    flex: 1 1 85%;
}


.flex-container {
    display: flex;
    justify-content: space-between;
}

.product-images, .product-order {
    width: 50%;
}



.image-block {
    display: flex;
}

.image-block__main {
    margin: 10px;
    position: relative;
}

.image-block__placeholder {
    position: absolute;
    color:#7a7979;
    top: 0px;
}

.image-block__main img {
    border: solid 1px #7a7979;
    display: block;
    height: 100%;
    width: 250px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.205);
}

.image-block__thumbs img {
    padding: 10px;
    border: solid 1px #7a7979;
    display: block;
    padding: 50px;
    margin: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.205);
}



.product-order__title, .product-order__author,
.product-order__price,  .product-order__status,
.product-order__weight {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.product-order__title h2 {
    font-size: 36px;
}
.product-order__author h3 {
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
}

.product-order__price h3 {
    color: #346DBB;
    font-size: 28px;
}


.product-order__status h3, .product-order__weight h3 {
    color: #a5a5a5;
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
}

.button {
    padding: 5px 50px;
    display: block;
    border: solid 3px #346DBB;
    color:#346DBB;
    font-weight: bold;
}

.button:hover {
    background: #346DBB;
    color: #fff;
}

.edit-btn {
    background: #346DBB;
    color: #fff;
    border-radius: 15px;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 40px;
    display: inline-block;
    margin: 30px 15px 0 0;
}

.preview-tab, .details-tab {
    float: left;
    padding: 20px 50px;
    border: solid #7a7979 1px ; 
    color: #346DBB;
    font-size: 21px;
    font-weight: bold;
}

.preview-tab:hover, .details-tab:hover {
    cursor: pointer;
    background: #346DBB;
    color: #fff;
}

.description-box textarea {
    resize: none;
    background: #fff;
    width: 100%;
    padding: 15px;
    height: 200px;
    border: solid #7a7979 1px;
    margin-top: -5px;
}   
 
.edit-btn:hover {
    background: #2c5897;
}


.breadcrumbs {
    display: flex;
}

.breadcrumbs a {
    color: #346DBB;
    padding: 0 10px;
}


.description-box {
   
}


@media (max-width: 767px) {
    .section-bread{
       
            display: none;
   
    }
    main {
        list-style-type: none;
        overflow-x: scroll;
        overflow-y: hidden;
        position: relative;
        box-sizing: border-box;
        list-style: none;
    }
    .container {
      display: flex;
      list-style-type: none;
      overflow-x: scroll;
      
      overflow-y: hidden;
      position: relative;
      box-sizing: border-box;
      list-style: none;
  }
}
@media only screen and (min-width: 767px) and (max-width: 768px) {
    .image-block__thumbs {
        display: none;
    }
    .product-order__title h2 {
        font-size: 23px;
    }
  }