p {
    margin: 10px 0;
}


.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}


.flex-container {
    margin: 5rem 0;
}


.info-block {
    border: solid 2px #346dbb;
    margin: 0 0 50px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}



.info-block__header {
    color: #ffff;
    font-weight: 100;
    background-color: #346dbb;
    padding: 15px;
    margin: 0;
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
}

.info-block__text {
    padding: 3rem;
    color: #7a7979;
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
}



@media screen and (min-width: 1024px) {

    .flex-container {
        display: flex;
        justify-content: space-around;
    }

    .info-block {
        max-width: 45%;
        margin: 0;
    }
    
}