.orderlist-box {
  border: 1px solid lightgray;
  margin: 50px;
  padding: 50px;
  width: 100%;
}

.order-image-box {
  border: 1px solid lightgray;
  height: 100px;
  width: 100px;
  display: inline-block;
  background-color: white;
}

.order-image-box-invisible {
    border: 1px solid white;
    height: 25px;
    width: 65px;
    display: inline-block;
    background-color: white;
  }

.order-list {
  /* border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray; */
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}

.order-list-top-under {
  padding-top: 50px;
    padding-bottom: 15px;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    border-bottom: 3px solid lightgray;
}

.order-list-top-under p{
    text-decoration: underline;
  }

.list-background {
  background-color: #b3ccef;
}

.order-list p {
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(+50%);
  -ms-transform: translateY(+50%);
  transform: translateY(+50%);
}

.order-list-check {
  display: inline-block;
  height: 25px;
  width: 25px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.user-select {
    background-color: white;
    border: 1px solid black;
    width: 200px;
    height: 40px;
    font-size: 16px;
    padding: 10px;
}

.user-search {
    background-color: white;
    border: 1px solid black;
    height: 40px;
    width: 350px;
    font-size: 16px;
    color: black;
    padding: 10px;
}

.user-search-button {
    height: 40px;
    width: 100px;
    background-color: #346dbb;
    color: white;
    border: none;
    border-radius: 50px;
}

.user-form {
    display: inline-block;
}

.user-form-right {
    display: inline-block;
    float: right;
}
@media (max-width: 767px) {
  .orderlist-box {
    border: 1px solid #707070;
    margin: 3px;
    padding: 17px;
    width: 100%;
    display: flex;
    list-style-type: none;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    box-sizing: border-box;
    list-style: none;
}
.order-list p {
  display: inline-block;
  position: relative;
  padding: 0 23px;
  top: 50%;
  -webkit-transform: translateY(+50%);
  -ms-transform: translateY(+50%);
  transform: translateY(+50%);
}
  
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 767px) and (max-width: 768px) {
  .user-select {
    background-color: white;
    border: 1px solid black;
    width: 106px;
    height: 40px;
    font-size: 16px;
    padding: 10px;
}
}

/* // Large devices (desktops, 992px and up) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
}

/* // X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width:1025px) and (max-width: 1440px) {
  

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 2560px) {}