.wrapper{

}
.main{
    
    max-width: 97%;
    margin: 0 auto;
}
.main-content{
    display: flex;
    flex-wrap: wrap;
}
.payment-details{
    flex: 1 1 50%;
}
.payment-details__title {
    padding-top: 20px;
    text-transform: uppercase;
    color: #346dbb;
    padding-bottom: 10px;
}
.payment-details__form {
    border: 1px solid #346dbb;
    padding: 8px 25px;
    border-radius: 12px;
    box-shadow: 0px 1px 5px gray;
}
.payment__title{
    padding: 30px 0;
    color: #346dbb;
}
.payment__content{
display: flex;
flex-direction: column;
}

.payment__one{
    display: flex;
}
.payment__one label {
    color: #346dbb;
}
.payment__one input {
    border-radius: 6px;
    border: 1px solid #A0C3ED !important;
}
.payment__fn {
    flex: 1 1 50%;
    padding-right: 10px;
}
.payment__ln {
    flex: 1 1 50%;
    padding-left: 10px;
}

.payment__two{
    display: flex;
}
.payment__two label {
    color: #346dbb;
}
.payment__two input {
    border-radius: 6px;
    border: 1px solid #A0C3ED !important;
}
.payment__adress {
    flex: 1 1 60%;
    padding-right: 10px;
}
.payment__postcode {
    flex: 1 1 40%;
    padding-left: 10px;
}

.payment__three{
    display: flex;
}
.payment__three label {
    color: #346dbb;
}
.payment__three input {
    border-radius: 6px;
    border: 1px solid #A0C3ED !important;
}
.payment__city {
    flex: 1 1 60%;
    padding-right: 10px;
}
.payment__nummer {
    flex: 1 1 40%;
    padding-left: 10px;
}
.payment__four label {
    color: #346dbb;
}
.payment__four input {
    border-radius: 6px;
    background-color: #F2F2F2;
    border: 1px solid #A0C3ED !important;
}

.payment__methode{
    padding-bottom: 25px;
}
.h3-pay{
    padding: 31px 0;
    color: #346dbb;
}
.payment__choice {
    display: flex;
    justify-content: space-between;
}
.payment__choice button {
    padding: 20px 15px;
    border: 1px solid #707070;
    background-color: white;
    color: #346dbb;
    font-weight: bold;
    font-size: 18px;
    flex: 0 1 31%;
    border-radius: 12px;
}






.order-summary{
    
    flex: 1 1 50%;
}
.order__wrapper{
max-width: 80%;
margin: 0 auto;

}
.order__top {
    padding: 28px 0px;
}
.order__content{
    border: 1px solid #346dbb;
    padding: 0 56px;
    border-radius: 12px;
    box-shadow: 0px 1px 5px gray;
}
.order__title {
    color: #346dbb;
    padding-top: 32px;
}
.order__nr {
    font-size: 18px;
    color: black;
    padding: 16px 0;
}
.order__extra p {
    font-size: 20px;
    color: #6E6E6E;
}
.order__list {
    display: flex;
    padding: 4px 0px;
}
img.order__img {
    height: 154px;
    width: auto;
}
.order__list .order__left {
    flex: 0 1 0%;
}
.order__total h2{
    font-size: 29px;
    font-weight: 600;
}
.order__center {
    flex: 1 1 27%;
    padding-left: 10px;
}
.order__list p {
    font-size: 22px; color: #6E6E6E;
}
.order__extra {
    display: flex;
    padding: 28px 0px;
}
.order__extra .order__right {
    text-align: right;
}
.order__left {
    flex: 1 1 50%;
}
.order__total {
    display: flex;
}
.order__bottom{
    text-align: center;
}
.order__bottom p{
    font-size: 19px;
    padding-bottom: 11px;
}
button.order__btn {
    font-size: 25px;
    font-weight: 700;
    padding: 10px 20px;
    background: white;
    border: 2px solid #346dbb;
    border-radius: 9px;
    width: 100%;
    color: #346dbb;
    margin: 12px 0px;
}



@media (max-width: 767px) {
    .order__content {
        border: 1px solid #346dbb;
        padding: 0px 19px;
        border-radius: 12px;
    }
    .order__wrapper {
        max-width: 100%;
        margin: 0 auto;
    }
    .payment-details__form {
        border: 1px solid #346dbb;
        padding: 8px 12px;
        border-radius: 12px;
    }
    .order__list p {
        font-size: 14px;
        color: #6E6E6E;
    }
    img.order__img {
        height: 115px;
        width: auto;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 767px) and (max-width: 768px) {
    .payment-details {
        flex: 1 1 100%;
    }
    .order-summary {
        flex: 1 1 100%;
    }
    .order__wrapper {
        max-width: 100%;
        margin: 0 auto;
    }
}

/* // Large devices (desktops, 992px and up) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .order__wrapper {
        max-width: 97%;
        margin: 0 auto;
    }
    .order__extra {
        display: flex;
        padding: 8px 0px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width:1025px) and (max-width: 1440px) {
   

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 2560px) {}