.popup{
    text-align: center;
    position:fixed;
    z-Index:100;
    max-Width:50vw;
    max-Height:50vh;
    width: auto;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-Radius:15px;
    background-Color:white;
    margin-Top:30vh;
   
    opacity: 0.8;

    top:0;
	bottom: 0;
	left: 25%;
	right: 25%;

}