@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Light", sans-serif;
}

html {
  font-family: "Roboto Light", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: white;
  box-shadow: 1px 1px 10px 1px #7a7979;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.nav-item {
  /* margin-left: 5rem; */
  text-align: center !important;
}

.nav-link {
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.2s;
  font-family: "Roboto Light", sans-serif;
  font-weight: 300;
}

.nav-link:hover {
  color: black;
  border-bottom: 3px solid #346dbb;
  transition-duration: 0.2s;
}

.nav-link:active {
  color: black;
  border-bottom: 3px solid #346dbb;
}

@media only screen and (max-width: 1110px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding-bottom: 25px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .header-logo {
    width: 200px !important;
    float: left;
    transition-duration: 0.3s;
  }
}

.header-logo {
  width: 250px;
  float: left;
  transition-duration: 0.3s;
}

.header-logo:hover {
  transition-duration: 0.3s;
  transform: scale(1.05);
}

.icon-header {
  background-color: white;
  border: 2px solid #346dbb;
  border-radius: 30px;
  color: black;
  display: inline-block !important;
  height: 50px;
  line-height: 50px !important;
  margin: auto 3px;
  width: 50px;
  font-size: 20px;
  text-align: center;
}

.icon-header:hover {
  transition-duration: 0.2s;
  border: 2px solid #346dbb;
  background-color: #346dbb;
  color: white;
}






input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.header-button {
  background: none;
  border: none;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  color: white;
}

.cancelbtn a {
  text-decoration: none;
  color: white;
}

.loginbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #346dbb;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  color: white;
}

.loginbtn a {
  text-decoration: none;
  color: white;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 67%;
    padding: 7px 20px 61px 20px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
  
}
@media (max-width: 767px) {
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 98%;
    padding: 7px 7px 39px 7px;
}
}
